.homeWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 50px 0;
    padding: 1rem;
}

.heroImg{
    height: 500px;
}
.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroText h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
.heroText a{
    background-color: var(--themeColor);
    color: white;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border-radius: 8px;
}

@media(max-width:760px){
    .homeWrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}