.coursesWrapper{
    display: grid;
    grid-template-columns: 400px 1fr;
    padding: 3rem 1rem;
}

.coursesNav{
    position: sticky;
    top: 92px;
}

.navWrapper{
    position: relative;
}

@media(max-width:760px){
    .coursesWrapper{
        grid-template-columns:1fr;
    }
}